version: "3.3"

services:
  drupal:
    build: ./.cloud/drupal
    container_name: "${PROJECT_NAME}_drupal"
    ports:
      - 80:80
    volumes:
      - ./web:/var/www/html
      - ./script:/script
    restart: always
    depends_on:
      - postgres

  postgres:
    image: postgres:latest
    container_name: "${PROJECT_NAME}_postgres"
    environment:
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
    restart: always