.field--name-field-action-banner,
.field--name-field-media-separator-image,
.views-field-field-home-page-separator {
    img {
        margin: $margin-l auto;
    }
}

.shadow:hover {
    box-shadow: 8px 10px 25px $background-red;
    border-radius: 15px;
}

.views-field-field-action-thumbnail {
    .img-responsive {
        margin: $margin-m auto;
    }
}

.view {
    .view-actions-block {
        .views-row {
            margin-bottom: $margin-m;
        }
    }
}

.views-field-title {
    text-align: center;
}

.partner-content {
    margin-top: $margin-m;
    margin-bottom: $margin-m;

    .partner-right-part {
        border-right: 2px solid $background-red;
    }

    .field--name-field-media-partner-name {
        font-weight: 600;
    }
}