// --------------------- Font size --------------------- //
$font-xl: 30px;
$font-l:  25px;
$font-m:  15px;
$font-s:  12px;

// --------------------- Font family --------------------- //
$font-family-default: "Roboto, Arial";

// --------------------- Font color --------------------- //
$font-default-color:  #474747;
$font-important-color:#E41D24;
$font-color-light:    #ffffff;

// --------------------- Margin size --------------------- //
$margin-m:  20px;
$margin-s:  10px;
$margin-xl: 30px;

// --------------------- Background color ---------------- //
$background-grey:    #2D2D2D;
$background-default: #ffffff;
$background-red:     #E41D24;