a {
    color: $font-default-color;

    &:hover {
        color: $font-important-color;
        text-decoration: none;
    }
}

p {
    font-size: $font-m;
    letter-spacing: 0.5px;
}

.page-header {
    border-bottom: 1px solid $background-red;
}

//------------------------------------------------------------------------------
// REGIONS
//------------------------------------------------------------------------------
.footer {
    background-color: $background-grey-l;
    width: 100% !important;
    border-top: 2px solid $background-red;
}